PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=nivel_fitness_club
DATABASE_USER=postgres
DATABASE_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=8h

ADMIN_NOMBRES=
ADMIN_APELLIDOS=
ADMIN_EMAIL=
ADMIN_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=8h